/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.navigation {
  width: 100%;
  background: #3a4664;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 1; /* il allows me to change the order of the elemnts so tha the rest scrols under this one */
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #ffc500;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: #ffc500
}

/* Header style */

header {
  text-align: center;
  background: url('images/offloading_of_a_liebherr_lhm_550.jpg') no-repeat center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
  z-index: 0;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #3a4664;
  transition: all .5s;
}
header .profile-image:hover {
  /* Source http://bideowego.com/css3-border-radius-transitions */
  -webkit-transition: border-radius 1s;
  transition: border-radius 1s; 
  border-radius: 15px; /* End of the outsourced snippet */
  transform: scale(1.2);
}
.tag {
  background-color: white;
  opacity: 0.8;
  color: #3a4664;
  padding: 10px;
  border-radius: 10px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: #3a4664;
  color: #ffc500;
}

.tag:hover {
  opacity: 1;
  transition: all .5s ease-out;
}

.location:hover {
  transform: scale(1.2) translate(0px,10px);
}

/* Content style */
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ffc500;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ffc500;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #3a4664;
}

/* Footer */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styling for experience.html*/

header#experience {
  background: url('images/sea_towage.jpg') no-repeat center ;
}
.experience {
  max-width: 1500px;
}
span {
  color: blue;
}

/* Styling for contacts.html*/

header#contacts {
  background: url('images/old_port_cranes.jpg') center;
}
.contacts {
  max-width: 800px;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

